<div class="hero-unit">
<h2>Recommended Items</h2>
<p></p>
<div class = "row">
<div class = "span4">Item place holder</div>
<div class = "span4">Item place holder</div>
<div class = "span4">Item place holder</div>
<div class = "span4">Item place holder</div>
<div class = "span4">Item place holder</div>
</div>
</div>
